  a{
  margin:8px;
  padding:px;
  text-decoration:underline;
  text-shadow: 3px 3px 3px red;
color:red;
font-size:15px;
z-index: 10;
}
p {
  font-family: Verdana;
  text-align: center;

}

h2{
  font-family: Verdana;
  margin:7px;
  padding:5px;
  
}
#box1{
position: absolute;
left:0px;
top:50vh;
width: 100vw;
height: 50vh;
z-index: 9;
}
